<ion-view title="Cadastro" id="cadastro" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; text-align: left; background: url(img/cadastro.jpg) no-repeat center;background-size:75%;margin-bottom: 20px">
            <i class="
                icon ion-image" style="font-size: 1px"></i>
        </div>
        <form id="cadastro-form2" class="list">
            <ion-list id="cadastro-list2">
                <label class="item item-input" id="login-input1" name="email" style="border-style:solid;border-color:#17757c;color:#17757c"
                    ng-model="dados.email">
                    <span class="input-label">Email</span>
                    <input placeholder="Digite o e-mail" type="email">
                </label>
                <label class="item item-input" id="login-input2" name="senha" style="border-style:solid;border-color:#17757c;color:#17757c;"
                    ng-model="dados.senha">
                    <span class="input-label">Senha</span>
                    <input placeholder="Digite a senha" type="password">
                </label>
            </ion-list>
            <a ui-sref="login()" id="cadastro-button3" class="button button-positive button-block" style="background-color:#17757c;color:white">Cadastrar</a>
        </form>
    </ion-content>
</ion-view>